:root {
    --accent: #0071f2;
    --secondary: #fd9900;
    --success: #64bc26;
    --error: #ea1601;
    --warning: #fad202;
    --background: #f5faff;
    --foreground: #e4e8ee;
    --text: #001833;

    --background-dark: #001833;
    --foreground-dark: #002248;
    --text-dark: #f5faff;

    --white: #fff;
    --black: #000;
    --dark-grey: #222;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Poppins, system-ui;
    color: var(--text);
}

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.5rem;
}

#animate {
    font-size: 1rem;
    color: var(--white);
    background-color: var(--error);
    padding: 3px 5px;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 5px;
    animation: preview-animation 2.0s ease-in-out infinite;
}

a {
    text-decoration: none;
    color: var(--text);
}

.underline {
    text-decoration: underline;
}

.reducedOpacity {
    opacity: 0.75;
}

.italic {
    font-style: italic;
}

nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--foreground);
    color: var(--text);

    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav div i {
    margin-right: 10px;
    font-size: 1.3rem;
}

#nav-left {
    width: 50%;
    justify-content: left;
    padding-left: 15px;
}

#nav-right {
    width: 50%;
    justify-content: right;
    padding-right: 15px;
}

nav #right div {
    margin: 0 10px;
}

nav div button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: 0;
    height: 30px;
    margin: 0 15px;
    padding: 0 15px;
    color: var(--text);

    transition: 50ms linear;
}

nav button:hover {
    cursor: pointer;
    font-weight: bold;

    transition: 50ms linear;
}

nav button:active {
    scale: 0.9;

    transition: 50ms linear;
}

nav #openSettings i, nav #reportBug i {
    transition: 500ms ease;
}

nav #openSettings i:hover {
    rotate: 90deg;
    transition: 500ms ease;
}

nav #reportBug i:hover {
    scale: 0.7;
    transition: 500ms ease;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main section {
    display: flex;
    flex-direction: column;
}

#firstRow {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 0 20px;
    margin: 10px;
}

#baseOptions, #includeOptions {
    width: 50%;
    height: fit-content;
    margin: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#includeOptions {
    display: none;
}

#baseOptions input {
    outline: none;

    height: 1.8rem;
    width: 50%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    margin: 5px 0 10px 0;
    text-align: center;

    font-size: 1.2rem;
    transition: 100ms linear;
}

#baseOptions input:focus {
    border: 2px solid var(--accent);
}

#passwords, #generate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main button {
    font-size: 1rem;
    background-color: var(--background);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 10px;
    height: 1.8rem;
    width: fit-content;
    transition: 100ms linear;
}

main button:hover, #copy:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    transition: 100ms linear;
}

main button:active {
    cursor: pointer;
    scale: 0.9;
    transition: 30ms linear;
}

main #error {
    color: var(--error);
}

#passwords {
    margin-top: 20px;
}

#result {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#result h3 {
    margin: 3px 10px;
    transition: 50ms linear;
}

#result h3:hover {
    color: var(--accent);
    cursor: pointer;
    transition: 50ms linear;
}

#result h3:active {
    scale: 0.9;
    transition: 50ms linear;
}

#result i {
    font-size: 1.4rem;
}

footer {
    display: none;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: var(--foreground);
    position: absolute;
    top: calc(100vh - 50px);
    padding: 0 20px;
    text-align: center;
}

footer p {
    margin-right: 20px;
}

footer button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: 0;
    height: 30px;
    margin: 0 15px;
    padding: 0 15px;

    transition: 50ms linear;
}

footer i {
    margin: 0 10px;
    font-size: 1.3rem;
}

footer button:hover {
    cursor: pointer;
    font-weight: bold;

    transition: 50ms linear;
}

footer button:active {
    scale: 0.9;

    transition: 50ms linear;
}

#footer-left {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 70%;
}

#footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 30%;
}

#github i, #repo i, #roadmap i {
    transition: 1s ease;
}

#github i:hover {
    transition: 1s ease;
    rotate: 360deg;
    scale: 1.25;
}

#repo i:hover {
    transition: 1s ease;
    transform: rotateY(360deg);
}

#roadmap i:hover {
    transition: 1s ease;
    transform: rotateY(180deg);
}

#settings {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#settingsContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    padding: 30px;
    border: 2px solid var(--text);
    border-radius: 20px;
}

#settingsContainer h2 {
    margin-bottom: 0;
}

#settingsContainer p {
    margin: 0;
}

#settingsContainer p.reducedOpacity {
    margin-top: 10px;
}

#settingsContainer button {
    font-size: 1rem;
    background-color: var(--background);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 10px;
    height: 1.8rem;
    width: fit-content;
    transition: 100ms linear;
}

#settingsContainer button:hover{
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    transition: 100ms linear;
}

#settingsContainer button:active {
    cursor: pointer;
    scale: 0.9;
    transition: 30ms linear;
}

#settingsContainer .settingsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#settingsContainer div h3 {
    margin: 10px 0;
}

#settingsContainer .buttonGroup {
    display: flex;
    flex-direction: row;
}

#settingsContainer button.active {
    background-color: var(--accent);
    color: white;
}

#settingsContainer button.not-customizable:hover {
    cursor: not-allowed;
}

#settingsContainer button.not-customizable {
    opacity: 0.7;
}

#settingsContainer #closeSettings {
    margin-top: 15px;
}

/* To remove the arrows in the "quantity" and "length" inputs
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@keyframes preview-animation {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.85;
    }

    100% {
        scale: 1;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }

    nav {
        background-color: var(--foreground-dark);
        color: var(--text-dark);
    }

    nav div button {
        color: var(--text-dark);
    }

    main input, main button, #settingsContainer button {
        background-color: var(--dark-grey);
        color: var(--text-dark);
        border: 1px solid var(--text-dark);
    }

    footer {
        background-color: var(--foreground-dark);
        color: var(--text-dark);
    }

    footer button, footer a {
        color: var(--text-dark);
    }

    #settings {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #settingsContainer {
        background-color: var(--background-dark);
        border: 2px solid var(--text-dark);
    }
}