:root {
    --accent: #0071f2;
    --secondary: #fd9900;
    --success: #64bc26;
    --error: #ea1601;
    --warning: #fad202;
    --background: #f5faff;
    --foreground: #e4e8ee;
    --text: #001833;
}

html {
    font-family: system-ui;
    color: var(--text);
}

body {
    background-color: var(--background);
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}


nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--foreground);

    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav div i {
    margin: 0 10px;
    font-size: 1.3rem;
}

nav #left {
    width: 50%;
    justify-content: left;
    padding-left: 15px;
}

nav #right {
    width: 50%;
    justify-content: right;
    padding-right: 15px;
}

nav #right div {
    margin: 0 10px;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main section {
    display: flex;
    flex-direction: column;
}

#firstRow {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 0 20px;
    margin: 10px;
}

#baseOptions, #includeOptions, #excludeOptions {
    width: 50%;
    height: fit-content;
    margin: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#baseOptions input {
    outline: none;

    height: 1.8rem;
    width: 50%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    margin: 5px 0 10px 0;
    text-align: center;

    font-size: 1.2rem;
    transition: 100ms linear;
}

#baseOptions input:focus {
    border: 2px solid var(--accent);
}

#passwords, #generate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main button {
    font-size: 1rem;
    background-color: var(--background);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 10px;
    height: 1.8rem;
    width: fit-content;
    transition: 100ms linear;
}

main button:hover, #copy:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    transition: 100ms linear;
}

main button:active {
    cursor: pointer;
    scale: 0.9;
    transition: 30ms linear;
}

#result {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#result h3 {
    margin: 3px 10px;
    transition: 50ms linear;
}

#result h3:hover {
    color: var(--accent);
    cursor: pointer;
    transition: 50ms linear;
}

#result h3:active {
    scale: 0.9;
    transition: 50ms linear;
}


/* To remove the arrows in the "quantity" and "length" inputs
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}